@import "resetstyle";

@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
      font-family: $font_name;
      font-display: swap;
      src: url("../fonts/#{$file_name}.woff") format("woff"),
        url("../fonts/#{$file_name}.woff2") format("woff2");
      font-weight: #{$weight};
      font-style: #{$style};
    }
}

@import "Fonts";

@mixin fontz($f, $t, $s, $c) {
  font-family: $f, "Tahoma", sans-serif;
  text-transform: $t;
  font-size: $s;
  color: $c;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__nav {
  }

  &__list {
    width: 1115px;
    display: flex;
    justify-content: flex-end;
  }

  &__item {
  }

  &__item--active {
  }

  &__link {
  }

  &__title-box {
  }

  &__title {
  }

  &__slogan-box {
  }

  &__slogan {
  }

  &__link-btn {
  }
}
.link-button {
}
