@import "resetstyle";

@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
      font-family: $font_name;
      font-display: swap;
      src: url("../fonts/#{$file_name}.woff") format("woff"),
        url("../fonts/#{$file_name}.woff2") format("woff2");
      font-weight: #{$weight};
      font-style: #{$style};
    }
}

@import "Fonts";

@mixin fontz($f, $t, $s, $c) {
  font-family: $f, "Tahoma", sans-serif;
  text-transform: $t;
  font-size: $s;
  color: $c;
}

.header {
  min-height: 100vh;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url(../img/header.webp);
  background-size: cover;
  background-color: #1e2a4f;

  &:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.2;
  }

  &__nav {
    width: 100%;
    position: relative;

    display: flex;
    justify-content: center;
  }
  
  &__nav:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 1px;
    background: #A1A1A1;
  }

  &__list {
    width: 1115px;

    display: flex;
    justify-content: flex-end;
  }

  &__item {
    padding: 40px 20px;
  }

  &__item--hover {
    position: relative;
  }

  &__item--hover:hover:after { 
    content: "";
    left: 0;
    right: 0;
    bottom: 1px;
    height: 2px;
    width: 100%;
    background-color: transparent;
    position: absolute;
    background-color: #ffffff;
  }

  &__link {
    @include fontz("Medium", none, 16px, #ffffff);
    line-height: 20px;
  }

  &__link:before {
    content: "";
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }

  &__nav, &__title, &__slogan-box, &__link-btn {
    z-index: 1;
  }

  &__title {
    padding-top: 220px;
    @include fontz("Medium", none, 16px, #ffffff);
    line-height: 20px;
  }

  &__slogan-box {
    width: 800px;
    text-align: center;
  }

  &__slogan {
    padding-top: 20px;
    @include fontz("ExtraBold", none, 48px, #ffffff);
    line-height: 64px;
  }

  &__link-btn {
    margin-top: 35px;
  }
}

.link-button {
  width: 200px;
  height: 45px;
  padding-top: 13px;
    
  background-color: #4985FF;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 90px;
  transition: background 0.6s ease;

  @include fontz("Medium", none, 16px, #ffffff);
  text-align: center;
  line-height: 20px;

  &:hover{
    background-color: #00008B;
  }
}
