@import "resetstyle";

@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
      font-family: $font_name;
      font-display: swap;
      src: url("../fonts/#{$file_name}.woff") format("woff"),
        url("../fonts/#{$file_name}.woff2") format("woff2");
      font-weight: #{$weight};
      font-style: #{$style};
    }
}

@import "Fonts";

@mixin fontz($f, $t, $s, $c) {
  font-family: $f, "Tahoma", sans-serif;
  text-transform: $t;
  font-size: $s;
  color: $c;
}

/* header*/

.header {
  min-height: 100vh;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url(../img/header.webp);
  background-size: cover;
  background-color: #1e2a4f;

  &:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.2;
  }

  &__nav {
    width: 100%;
    position: relative;

    display: flex;
    justify-content: center;
  }
  
  &__nav:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 1px;
    background: #A1A1A1;
  }

  &__list {
    width: 1115px;

    display: flex;
    justify-content: flex-end;
  }

  &__item {
    padding: 40px 20px;
  }

  &__item--hover {
    position: relative;
  }

  &__item--hover:hover:after { 
    content: "";
    left: 0;
    right: 0;
    bottom: 1px;
    height: 2px;
    width: 100%;
    background-color: transparent;
    position: absolute;
    background-color: #ffffff;
  }

  &__link {
    @include fontz("Medium", none, 16px, #ffffff);
    line-height: 20px;
  }

  &__link:before {
    content: "";
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }

  &__nav, &__title, &__slogan-box, &__link-btn {
    z-index: 1;
  }

  &__title {
    padding-top: 220px;
    @include fontz("Medium", none, 16px, #ffffff);
    line-height: 20px;
  }

  &__slogan-box {
    width: 800px;
    text-align: center;
  }

  &__slogan {
    padding-top: 20px;
    @include fontz("ExtraBold", none, 48px, #ffffff);
    line-height: 64px;
  }

  &__link-btn {
    margin-top: 35px;
  }
}

.link-button {
  position: relative;
  width: 200px;
  height: 45px;
  padding-top: 13px;
    
  background-color: #4985FF;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 90px;
  transition: 0.6s ease;
  transition: all 0.2s linear 0s;

  @include fontz("Medium", none, 16px, #ffffff);
  text-align: center;
  line-height: 20px;

  &:before {
    content: "\27A4";
    font-family: FontAwesome;
    font-size: 15px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 40px;
    transition: all 0.2s linear 0s;
  }
  
  &:hover {
    text-indent: -20px;
    background-color: #724DFF;
    
    &:before {
      opacity: 1;
      text-indent: 0px;
    }
  }

  &:active {
    background-color: #3719A6;
  }
}
/* ====================================== */

.main {

  &__box {
  display: flex;
  align-items: center;
  flex-direction: column;
  }
}
.box-white {
  
  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 1115px;
    text-align: center;
  }

  &__title {
    padding-top: 110px;
    width: 740px;
  }

  &__text {
    padding-top: 50px;
    width: 730px;
    @include fontz("Regular", none, 16px, #999999);
    line-height: 25px;
  }

  &__row {
    padding-top: 70px;
    display: flex;
    flex-direction: row;
  }

  &__link {
    margin-top: 70px;
    margin-bottom: 105px;
  }
}
.title-content {
  @include fontz("Bold", none, 36px, #323232);
  line-height: 53px;
}
.col-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 350px;

  &__img-box {
    width: 90px;
    height: 90px;
    border: 1px solid #4985FF;
    border-radius: 50%;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
      content: "";
      position: absolute;
      width: 110px;
      height: 110px;
      border: 1px solid #E0E0E0;
      border-radius: 50%;
    }
  }

  &__img {
    margin: 30px;
    width: 40px;
    height: 40px;
  }

  &__box {
    text-align: start;
    width: 225px;
  }

  &__title {
    padding-top: 40px;
    @include fontz ("SemiBold", none, 18px, #000000);
    line-height: 22px;
  }

  &__text {
    @include fontz ("Regular", none, 14px, #999999);
    line-height: 22px;
  }
}

.box-smoky-white {
    background-color: #F6F6F8;

		&__box {
      width: 1115px;
		}

		&__content {
      display: flex;
      position: relative;
      justify-content: space-between;
      padding-bottom: 140px;
      padding-top: 85px;

      &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 1px;
        background: #E0E0E0;
      }
    }
    
    &__wrap {
      width: 500px;
      padding-top: 50px;
    }

		&__text {
      padding-top: 40px;
      @include fontz("Regular", none, 16px, #999999);
      line-height: 25px;
		}

		&__link {
      padding-top: 30px;
      @include fontz("Medium", none, 16px, #4985FF);
      display: block;
      text-decoration: underline;
		}

		&__img {
      width: 500px;
      height: 400px;
      border-radius: 30px;
      background-color: #C4C4C4;
      box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    }

    &__row {
      display: flex;
      justify-content: space-around;
      padding-top: 70px;
      padding-bottom: 70px;
    }    
}

.column-wrap {
  width: 105px;
  height: 70px;

  &__number-box {
    display: flex;
    justify-content: space-between;
  }

  &__img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
  }

  &__number {
    @include fontz("Regular", none, 36px, #000000);
    line-height: 53px;
  }

  &__text {
    @include fontz("Regular", none, 16px, #999999);
    line-height: 25px;
  }
}


.title-content {
}

.box-gradient-white {
}
.box-img-white {
}



.footer{
  height: 200px;
}
