@import "resetstyle";

@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
      font-family: $font_name;
      font-display: swap;
      src: url("../fonts/#{$file_name}.woff") format("woff"),
        url("../fonts/#{$file_name}.woff2") format("woff2");
      font-weight: #{$weight};
      font-style: #{$style};
    }
}

@import "Fonts";

@mixin fontz($f, $t, $s, $c) {
  font-family: $f, "Tahoma", sans-serif;
  text-transform: $t;
  font-size: $s;
  color: $c;
}

.header {
  min-height: 100vh;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url(../img/header.webp);
  background-size: cover;
  background-color: #1e2a4f;

  &__nav {
    width: 100%;
    position: relative;

    display: flex;
    justify-content: center;
  }
  
  &__nav:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 1px;
    background: #A1A1A1;
  }

  &__list {
    width: 1115px;

    display: flex;
    justify-content: flex-end;
  }

  &__item {
    padding: 40px 20px;
  }

  &__item--hover {
    position: relative;
  }

  &__item--hover:hover:after { 
    content: "";
    left: 0;
    right: 0;
    bottom: 1px;
    height: 2px;
    width: 100%;
    background-color: transparent;
    position: absolute;
    background-color: #ffffff;
  }

  &__link {
    @include fontz("Medium", none, 16px, #ffffff);
    line-height: 20px;
  }

  &__link:before {
    content: "";
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }

  &__title-box {
  }

  &__nav, &__title-box, &__slogan-box, &__link-btn {
    z-index: 1;
  }

  &__title {
  }

  &__slogan-box {
  }

  &__slogan {
  }

  &__link-btn {
  }
}

.header:after{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.2;
}
.link-button {
}
